$dark: #00252e;
$gray: #808e9a;
$white: #ffffff;
$primary: #ff52c1;
$primary-hover: #ff8ed7;
$cyan: #00c7fa;
$bg: #f6fbff;
$error: #ff4343;

.dark {
  color: $dark;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.primary {
  color: $primary;
}

.primary-hover {
  color: $primary-hover;
}

.cyan {
  color: $cyan;
}

.error {
  color: $error;
}
